<h3 class="center-align">LISTADO</h3>
       {{#each rows}}
       <div class="row">


              <div class="col s4">{{nombre}}</div>
              <div class="col s4">{{poblacion}}</div>
              <div class="col s2">
                    
       </div>
       {{/each}}
</div>